{% extends 'base.html' %} {% load widget_tweaks %}{% load static %}{% block header %}
<title>Edit Profile</title>
<link rel="stylesheet" type="text/css" href="{% static 'profilemanager/css/style.css' %}" /> {% endblock %}{% block body %}
<div id="editprofile-form" class="container">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Profile
                </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <form class="border border-primary rounded" method="POST">
                        <p><small>Edit your profile information</small></p>
                        {% csrf_token %} {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %} {% for field in form.visible_fields %}
                        <div class="form-group {{field.label}}">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label> {{ field|add_class:'form-control' }} {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span> {% endfor %}
                        </div>
                        {% endfor %}
                        <button type="submit" name="profile_post_button" class="btn btn-danger btn-sm">Save</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Wallets
                </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <p><small>Add/Remove your wallets or change the amount of cryptocurrency you hold</small></p>
                    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#addWalletModal">Add New Wallet</button>
                    <ul>
                        {% for wallet in wallets %}
                        <li>
                            <h3>{{wallet.name}}</h3>
                            <button type="button" class="btn btn-sm btn-danger">Delete</button>
                            <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#edit{{wallet.pk}}Modal">Edit</button>
                            <div class="modal fade" id="edit{{wallet.pk}}Modal" tabindex="-1" role="dialog" aria-labelledby="edit{{wallet.pk}}ModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <form class="border border-primary rounded" method="POST">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="edit{{wallet.pk}}ModalLabel">Editing {{wallet.name}}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {% csrf_token %} {% for key, value in wallet_forms.items %} {% if key is wallet.id %} {% for hidden in value.hidden_fields %} {{ hidden }} {% endfor %} {% for field in value.visible_fields %}
                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}">
                                                            {{ field.label }}
                                                        </label>{{ field|add_class:'form-control' }} {% for error in field.errors %}
                                                    <span class="help-block">{{ error }}</span> {% endfor %}
                                                </div>
                                                {% endfor %} {{ value.errors }} {{ value.non_field_errors }} {% endif %} {% endfor %}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" name="{{wallet.pk}}_button" class="btn btn-outline-primary">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <p>ETH: </p>
                            <h5>{{wallet.ethereum}} </h5>
                            <p>BTC: </p>
                            <h5>{{wallet.bitcoin}} </h5>
                            <p>BCC: </p>
                            <h5>{{wallet.bitcoincash}} </h5>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Collapsible Group Item #3
                </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}