{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" type="text/css" href="{% static 'dash/css/bootstrap.css' %}" /> {% block header %}
    <title>Crypto Portfolio</title>{% endblock %}
</head>

<body>
    {% block body %} {% endblock %}
    <script src="{% static 'dash/js/jquery.min.js' %}"></script>
    <script src="{% static 'dash/js/popper.min.js' %}"></script>
    <script src="{% static 'dash/js/bootstrap.min.js' %}"></script>
    {% block footer %}{% endblock %}
</body>

</html>