#login-form {
    .logo-area {
        text-align: center;
        margin-top: 60px;
        img {
            max-width: 300px;
        }
    }
    .reg-area {
        text-align: center;
    }
    form {
        margin: 40px auto;
        padding: 20px;
        ;
        max-width: 15rem;
        h5 {
            text-align: center;
            color: #47b2cd;
        }
        label {
            font-weight: 600;
        }
    }
}

#loggedout-area {
    .logo-area {
        text-align: center;
        margin-top: 60px;
        img {
            max-width: 300px;
        }
    }
    .message-area {
        margin-top: 40px;
        text-align: center;
    }
    .login-area {
        margin-top: 60px;
        text-align: center;
    }
}

#signup-form {
    margin: 40px auto;
    max-width: 20rem;
    .logo-area {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
        img {
            max-width: 300px;
        }
    }
    form {
        padding: 20px;
        h5 {
            text-align: center;
            color: #47b2cd;
        }
        label {
            font-weight: 600;
        }
    }
}

#editprofile-form {
    margin: 40px auto;
    max-width: 40rem;
    #edit-portfolio-header {
        text-align: center;
        color: #47b2cd;
        margin-bottom: 40px;
    }
    #back-button {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    #collapseOne {
        form {
            padding: 20px;
            p {
                text-align: center;
            }
            label {
                font-weight: 600;
            }
        }
    }
    #collapseTwo {
        p {
            text-align: center;
        }
        #new-btn-form {
            padding: 0px;
            margin-bottom: 20px;
        }
        ul {
            list-style-type: none;
            padding: 0px;
            margin: 0px;
            li {
                margin-top: 10px;
                margin-bottom: 10px;
                h3 {
                    text-align: left;
                    display: inline;
                    color: #47b2cd;
                }
                h5,
                p {
                    display: inline;
                }
                button {
                    float: right;
                    margin-left: 10px;
                }
            }
        }
        form {
            padding: 20px;
            p {
                text-align: center;
            }
            label {
                font-weight: 600;
            }
        }
    }
    #collapseThree {
        form {
            padding: 20px;
        }
    }
}