#main-home {
    .container-fluid {
        padding: 0px;
    }
    #heading {
        margin-top: 60px;
        text-align: center;
        img {
            max-width: 64px;
        }
        img:hover {
            max-width: 76px;
        }
        .display-4 {
            font-size: 2rem;
            color: darkslateblue;
        }
        small {}
    }
}

#summary-home {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
    .snapshot_heading {
        text-align: center;
        margin-bottom: 20px;
        img {
            max-width: 32px;
        }
        .display-4 {
            margin: 0px;
            display: inline-block;
            font-size: 1.4rem;
        }
        .modal {
            text-align: left;
        }
        .info-icon-wrap {
            display: inline-block;
            .info-icon {
                fill: #829CBC;
            }
        }
        .info-icon-wrap:hover {
            .info-icon {
                fill: #EB6534;
            }
        }
        hr {
            border-color: #829CBC;
        }
    }
    #spot-card {
        display: inline-block;
        margin: 10px;
        padding: 10px;
        max-width: 26rem;
        border: 1px double #829CBC;
        #top-row {
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
            .top_col_1 {
                text-align: left;
                h1,
                h3 {
                    margin: 0px;
                }
                .display-4 {
                    font-size: 1.5rem;
                    display: inline-block;
                    color: darkslateblue;
                }
                img {
                    max-width: 40px;
                    margin-bottom: 10px;
                }
            }
            .top_col_2 {
                text-align: right;
                small {
                    display: block;
                }
            }
        }
        #second-row {
            .container,
            col {
                padding: 0px;
            }
            .card {
                margin: 0px auto;
                width: 10rem;
                border-style: none;
                .card-img-top {
                    margin: 0px auto;
                    max-width: 80px;
                }
                .card-body {
                    padding: 0px;
                }
                table {
                    border-style: solid;
                    border-width: 1px;
                    border-color: #829CBC;
                    border-bottom: none;
                    border-left: none;
                    border-right: none;
                    width: 100%;
                    .vol-rows {}
                    .avg_row_title {}
                    .avg_row_data {
                        .display-4 {
                            font-size: 1.2rem;
                            font-weight: bold;
                        }
                    }
                    .lowhi_row_titles {}
                    .lowhi_row_data {}
                }
                .bold {
                    font-weight: bold;
                }
                .right {
                    text-align: right;
                }
                .center {
                    text-align: center;
                }
            }
        }
    }
}

#aggregation-home {
    .coin_agg_heading {
        text-align: center;
        margin-bottom: 20px;
        .modal {
            text-align: left;
        }
        .info-icon-wrap {
            display: inline-block;
            .info-icon {
                fill: #829CBC;
            }
        }
        .info-icon-wrap:hover {
            .info-icon {
                fill: #EB6534;
            }
        }
        img {
            max-width: 32px;
        }
        .display-4 {
            margin: 0px;
            display: inline-block;
            font-size: 1.4rem;
        }
        hr {
            border-color: #829CBC;
        }
    }
    #coin_agg_summary {
        text-align: center;
        margin-bottom: 60px;
        ul {
            list-style-type: none;
            display: inline-block;
            margin: 0px;
            margin-left: 40px;
            margin-right: 40px;
            padding: 0px;
            li {
                display: block;
                margin-left: 20px;
                .display-4 {
                    font-size: 1.5rem;
                    color: darkslateblue;
                }
                img {
                    max-width: 40px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

#detail-home {
    .graph_heading {
        text-align: center;
        margin-bottom: 20px;
        .modal {
            text-align: left;
        }
        .info-icon-wrap {
            display: inline-block;
            .info-icon {
                fill: #829CBC;
            }
        }
        .info-icon-wrap:hover {
            .info-icon {
                fill: #EB6534;
            }
        }
        img {
            max-width: 32px;
        }
        .display-4 {
            margin: 0px;
            display: inline-block;
            font-size: 1.4rem;
        }
        hr {
            border-color: #829CBC;
        }
    }
    #exchange-graphs {
        margin-bottom: 60px;
    }
}


/* Start Footer*/

.footer_div {
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: darkslateblue;
    color: white;
    a {
        color: #829CBC;
    }
    ul {
        list-style-type: none;
        padding: 0px;
        a {
            padding: 0px;
            padding-bottom: 10px;
        }
    }
}

.footer_div img {
    max-width: 32px;
}

.footer_div .centreleft-footer,
.footer_div .centreright-footer,
.footer_div .left-footer,
.footer_div .right-footer {
    text-align: left;
    margin-left: 45px;
    margin-right: 45px;
    color: darkgray;
}

.footer_div .centreleft-footer h5,
.footer_div .centreright-footer h5,
.footer_div .left-footer h5,
.footer_div .right-footer h5 {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .footer_div .centreleft-footer,
    .footer_div .centreright-footer,
    .footer_div .left-footer,
    .footer_div .right-footer {
        margin-bottom: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.footer_div .centreleft-footer small,
.footer_div .centreright-footer small,
.footer_div .right-footer small {
    display: block;
}

.footer_div .centreleft-footer .copyright_text,
.footer_div .centreright-footer .copyright_text,
.footer_div .right-footer .copyright_text {
    display: block;
}

.footer_div .centreleft-footer ul,
.footer_div .centreright-footer ul {
    padding: 0;
}

.footer_div .centreleft-footer li,
.footer_div .centreright-footer li {
    display: inline-block;
}


/*End - Footer*/