#main-home .container-fluid {
  padding: 0px; }
#main-home #heading {
  margin-top: 60px;
  text-align: center; }
  #main-home #heading img {
    max-width: 64px; }
  #main-home #heading img:hover {
    max-width: 76px; }
  #main-home #heading .display-4 {
    font-size: 2rem;
    color: darkslateblue; }

#summary-home {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px; }
  #summary-home .snapshot_heading {
    text-align: center;
    margin-bottom: 20px; }
    #summary-home .snapshot_heading img {
      max-width: 32px; }
    #summary-home .snapshot_heading .display-4 {
      margin: 0px;
      display: inline-block;
      font-size: 1.4rem; }
    #summary-home .snapshot_heading .modal {
      text-align: left; }
    #summary-home .snapshot_heading .info-icon-wrap {
      display: inline-block; }
      #summary-home .snapshot_heading .info-icon-wrap .info-icon {
        fill: #829CBC; }
    #summary-home .snapshot_heading .info-icon-wrap:hover .info-icon {
      fill: #EB6534; }
    #summary-home .snapshot_heading hr {
      border-color: #829CBC; }
  #summary-home #spot-card {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    max-width: 26rem;
    border: 1px double #829CBC; }
    #summary-home #spot-card #top-row {
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px; }
      #summary-home #spot-card #top-row .top_col_1 {
        text-align: left; }
        #summary-home #spot-card #top-row .top_col_1 h1,
        #summary-home #spot-card #top-row .top_col_1 h3 {
          margin: 0px; }
        #summary-home #spot-card #top-row .top_col_1 .display-4 {
          font-size: 1.5rem;
          display: inline-block;
          color: darkslateblue; }
        #summary-home #spot-card #top-row .top_col_1 img {
          max-width: 40px;
          margin-bottom: 10px; }
      #summary-home #spot-card #top-row .top_col_2 {
        text-align: right; }
        #summary-home #spot-card #top-row .top_col_2 small {
          display: block; }
    #summary-home #spot-card #second-row .container,
    #summary-home #spot-card #second-row col {
      padding: 0px; }
    #summary-home #spot-card #second-row .card {
      margin: 0px auto;
      width: 10rem;
      border-style: none; }
      #summary-home #spot-card #second-row .card .card-img-top {
        margin: 0px auto;
        max-width: 80px; }
      #summary-home #spot-card #second-row .card .card-body {
        padding: 0px; }
      #summary-home #spot-card #second-row .card table {
        border-style: solid;
        border-width: 1px;
        border-color: #829CBC;
        border-bottom: none;
        border-left: none;
        border-right: none;
        width: 100%; }
        #summary-home #spot-card #second-row .card table .avg_row_data .display-4 {
          font-size: 1.2rem;
          font-weight: bold; }
      #summary-home #spot-card #second-row .card .bold {
        font-weight: bold; }
      #summary-home #spot-card #second-row .card .right {
        text-align: right; }
      #summary-home #spot-card #second-row .card .center {
        text-align: center; }

#aggregation-home .coin_agg_heading {
  text-align: center;
  margin-bottom: 20px; }
  #aggregation-home .coin_agg_heading .modal {
    text-align: left; }
  #aggregation-home .coin_agg_heading .info-icon-wrap {
    display: inline-block; }
    #aggregation-home .coin_agg_heading .info-icon-wrap .info-icon {
      fill: #829CBC; }
  #aggregation-home .coin_agg_heading .info-icon-wrap:hover .info-icon {
    fill: #EB6534; }
  #aggregation-home .coin_agg_heading img {
    max-width: 32px; }
  #aggregation-home .coin_agg_heading .display-4 {
    margin: 0px;
    display: inline-block;
    font-size: 1.4rem; }
  #aggregation-home .coin_agg_heading hr {
    border-color: #829CBC; }
#aggregation-home #coin_agg_summary {
  text-align: center;
  margin-bottom: 60px; }
  #aggregation-home #coin_agg_summary ul {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 0px; }
    #aggregation-home #coin_agg_summary ul li {
      display: block;
      margin-left: 20px; }
      #aggregation-home #coin_agg_summary ul li .display-4 {
        font-size: 1.5rem;
        color: darkslateblue; }
      #aggregation-home #coin_agg_summary ul li img {
        max-width: 40px;
        margin-bottom: 10px; }

#detail-home .graph_heading {
  text-align: center;
  margin-bottom: 20px; }
  #detail-home .graph_heading .modal {
    text-align: left; }
  #detail-home .graph_heading .info-icon-wrap {
    display: inline-block; }
    #detail-home .graph_heading .info-icon-wrap .info-icon {
      fill: #829CBC; }
  #detail-home .graph_heading .info-icon-wrap:hover .info-icon {
    fill: #EB6534; }
  #detail-home .graph_heading img {
    max-width: 32px; }
  #detail-home .graph_heading .display-4 {
    margin: 0px;
    display: inline-block;
    font-size: 1.4rem; }
  #detail-home .graph_heading hr {
    border-color: #829CBC; }
#detail-home #exchange-graphs {
  margin-bottom: 60px; }

/* Start Footer*/
.footer_div {
  margin-top: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #47b2cd;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #47b2cd 0%, #000000 50%, #47b2cd 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #47b2cd 0%, #000000 50%, #47b2cd 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #47b2cd 0%, #000000 50%, #47b2cd 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: white; }

.footer_div img {
  max-width: 32px; }

.footer_div .centreleft-footer,
.footer_div .centreright-footer,
.footer_div .left-footer,
.footer_div .right-footer {
  text-align: left;
  margin-left: 45px;
  margin-right: 45px;
  color: darkgray; }

.footer_div .centreleft-footer h5,
.footer_div .centreright-footer h5,
.footer_div .left-footer h5,
.footer_div .right-footer h5 {
  margin-bottom: 20px; }

@media (max-width: 768px) {
  .footer_div .centreleft-footer,
  .footer_div .centreright-footer,
  .footer_div .left-footer,
  .footer_div .right-footer {
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px; } }
.footer_div .centreleft-footer small,
.footer_div .centreright-footer small,
.footer_div .right-footer small {
  display: block; }

.footer_div .centreleft-footer .copyright_text,
.footer_div .centreright-footer .copyright_text,
.footer_div .right-footer .copyright_text {
  display: block; }

.footer_div .centreleft-footer ul,
.footer_div .centreright-footer ul {
  padding: 0; }

.footer_div .centreleft-footer li,
.footer_div .centreright-footer li {
  display: inline-block; }

/*End - Footer*/
