#login-form .logo-area {
  text-align: center;
  margin-top: 60px; }
  #login-form .logo-area img {
    max-width: 300px; }
#login-form .reg-area {
  text-align: center; }
#login-form form {
  margin: 40px auto;
  padding: 20px;
  max-width: 15rem; }
  #login-form form h5 {
    text-align: center;
    color: #47b2cd; }
  #login-form form label {
    font-weight: 600; }

#loggedout-area .logo-area {
  text-align: center;
  margin-top: 60px; }
  #loggedout-area .logo-area img {
    max-width: 300px; }
#loggedout-area .message-area {
  margin-top: 40px;
  text-align: center; }
#loggedout-area .login-area {
  margin-top: 60px;
  text-align: center; }

#signup-form {
  margin: 40px auto;
  max-width: 20rem; }
  #signup-form .logo-area {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px; }
    #signup-form .logo-area img {
      max-width: 300px; }
  #signup-form form {
    padding: 20px; }
    #signup-form form h5 {
      text-align: center;
      color: #47b2cd; }
    #signup-form form label {
      font-weight: 600; }

#editprofile-form {
  margin: 40px auto;
  max-width: 40rem; }
  #editprofile-form #edit-portfolio-header {
    text-align: center;
    color: #47b2cd;
    margin-bottom: 40px; }
  #editprofile-form #back-button {
    margin-top: 20px;
    margin-bottom: 40px; }
  #editprofile-form #collapseOne form {
    padding: 20px; }
    #editprofile-form #collapseOne form p {
      text-align: center; }
    #editprofile-form #collapseOne form label {
      font-weight: 600; }
  #editprofile-form #collapseTwo p {
    text-align: center; }
  #editprofile-form #collapseTwo #new-btn-form {
    padding: 0px;
    margin-bottom: 20px; }
  #editprofile-form #collapseTwo ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
    #editprofile-form #collapseTwo ul li {
      margin-top: 10px;
      margin-bottom: 10px; }
      #editprofile-form #collapseTwo ul li h3 {
        text-align: left;
        display: inline;
        color: #47b2cd; }
      #editprofile-form #collapseTwo ul li h5,
      #editprofile-form #collapseTwo ul li p {
        display: inline; }
      #editprofile-form #collapseTwo ul li button {
        float: right;
        margin-left: 10px; }
  #editprofile-form #collapseTwo form {
    padding: 20px; }
    #editprofile-form #collapseTwo form p {
      text-align: center; }
    #editprofile-form #collapseTwo form label {
      font-weight: 600; }
  #editprofile-form #collapseThree form {
    padding: 20px; }
