{% extends 'base.html' %} {% load widget_tweaks %}{% load static %}{% block header %}
<title>Crypto Portfolio: Dash</title>
<link rel="stylesheet" type="text/css" href="{% static 'dash/css/style.css' %}" /> {% endblock %} {% block body %}
<div id="main-home">
    <div id="heading" class="container-fluid">
        {% if Profile.firstname == 'New' %}
        <h1 class="display-4">Welcome to your new dashboard!</h1>
        <small>Change your settings in your <a href="/editprofile/">profile</a></small> {% else %}
        <h1 class="display-4">Hi {{Profile.firstname}} </h1>
        {% endif %}
    </div>
    <div id="summary-home" class="container-fluid">
        {% block test %} {% endblock %}
    </div>
    <div id="detail-home" class="container-fluid">

    </div>
    <div id="news-home" class="container-fluid">

    </div>
</div>
{% endblock %}