{% extends 'base.html' %}{% load widget_tweaks %}{% load static %}{% block header %}
<title>Crypto Portfolio: Dash</title>
<link rel="stylesheet" type="text/css" href="{% static 'dash/css/style.css' %}" /> {% endblock %} {% block body %}
<div id="main-home">
    <div id="heading" class="container-fluid">
        {% if Profile.firstname == 'New' %}
        <h1 class="display-4">Welcome to your new dashboard!</h1>
        <small>Change your settings in your <a href="/editprofile/">profile</a></small> {% else %}
        <h1 class="display-4">Hi {{Profile.firstname}} </h1>
        {% endif %}
    </div>
    <div id="summary-home">
        {% for crypto in cryptos %}
        <div id="spot-card">
            <div id="top-row" class="row no-gutters">
                <div class="col top_col_1">
                    <img class="img-fluid" src="{% static 'dash/img/' %}{{crypto.code}}.png" alt="Cryptocurrency Logo">
                    <h1 class="display-4">{{crypto}}</h1>
                    <ul>
                        <li>
                            <small>Avg. Price</small>
                            <h4>${{crypto.cmc_avg_price}}</h4>
                        </li>
                        <li>
                            <small>% Change (24hr)</small>
                            <h4>{{crypto.cmc_pct_change24}}%</h4>
                        </li>
                        <li>
                            <small>% Change (7d)</small>
                            <h4>{{crypto.cmc_pct_change7d}}%</h4>
                        </li>
                        <li>
                            <small>Total Supply</small>
                            <h4>{{crypto.cmc_total_sply}}</h4>
                        </li>
                        <li>
                            <small>Market Cap</small>
                            <h4>${{crypto.cmc_marketcap}}</h4>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="second-row" class="row no-gutters">
                {% for exchange in exchanges %} {% for spot in spots %} {% if spot.crypto.name == crypto.name and spot.source_data == exchange.name %}
                <div class="col">
                    <div class="container-fluid">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="{% static 'dash/img/' %}{{exchange.name}}.png" alt="Card image cap">
                            <div class="card-body">
                                <table>
                                    <tr class="vol-rows">
                                        <td><small>24HR Vol(C)</small></td>
                                        <td class="right bold">C{{spot.vol_crypto}}</td>
                                    </tr>
                                    <tr class="vol-rows">
                                        <td><small>24HR Vol($)</small></td>
                                        <td class="right bold">${{spot.vol_currency}}</td>
                                    </tr>
                                    <tr class="avg_row_title">
                                        <td colspan="2" class="center"><small>Price</small></td>
                                    </tr>
                                    <tr class="avg_row_data">
                                        <td colspan="2" class="center">
                                            <h1 class="display-4">${{spot.avg_day}}</h1>
                                        </td>
                                    </tr>
                                    <tr class="lowhi_row_titles">
                                        <td class="center"><small>Days Low</small></td>
                                        <td class="center"><small>Days Hi</small></td>
                                    </tr>
                                    <tr class="lowhi_row_data">
                                        <td class="center bold">${{spot.low_day}}</td>
                                        <td class="center bold">${{spot.high_day}}</td>
                                    </tr>
                                </table>
                                <p class="card-text"><small class="text-muted">{{spot.timestamp}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}{% endfor %}{% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="detail-home" class="container-fluid">

    </div>
    <div id="news-home" class="container-fluid">

    </div>
</div>
{% endblock %}